@media screen and (max-width: 900px) {
  .info {
    margin: 10px 0px;
    margin-left: 20%;
    width: 45%;
  }
  .course-details-description {
    margin-top: 15px;
  }

  /*Table*/
  .sub-topics-table {
    margin-left: 20%;
    width: 45%;
  }

  .checkmark-circle-outline {
    margin-right: 10px;
  }

  /**** Parent Container ****/
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /******Card Container*******/

  .card-details-container {
    display: flex;
    position: static;
    width: 270px;
    margin-left: 20%;
  }
  .card-details {
    margin-top: 15px;
  }
}

@media screen and (max-width: 650px) {
  .info {
    margin: 6px 0px;
    margin-left: 10%;
    width: 60%;
  }
  .course-details-description {
    margin-top: 10px;
  }

  /*Table*/
  .sub-topics-table {
    margin-left: 10%;
    width: 60%;
  }

  /**Welcome Part**/
  .welcoming-container {
    margin-top: 5px;
  }

  /**** Parent Container ****/
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /******Card Container*******/

  .card-details-container {
    display: flex;
    position: static;
    width: 270px;
    margin-left: 20%;
  }
  /**Card**/
  .card-details {
    margin-top: 10px;
  }

  /*****Footer*****/
  .footer-content {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .info {
    margin: 6px 0px;
    margin-left: 5%;
    width: 80%;
  }

  /**** Parent Container ****/
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /******Card Container*******/

  .card-details-container {
    display: flex;
    position: static;
    width: 270px;
    margin-left: 20%;
  }

  /*Table*/
  .sub-topics-table {
    margin-left: 5%;
    width: 80%;
  }

  /**Welcome Part**/
  .welcoming-container {
    margin-top: 5px;
  }
  .welcoming-container {
    margin-top: 20px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 400px) {
  .info {
    margin: 6px 0px;
    margin-left: 5%;
    width: 90%;
  }

  /**** Parent Container ****/
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /******Card Container*******/

  .card-details-container {
    display: flex;
    position: static;
    width: 270px;
    margin-left: 20%;
  }

  /*Table*/
  .sub-topics-table {
    margin-left: 5%;
    width: 90%;
  }
  /**Welcome Part**/
  .welcoming-container {
    margin-top: 20px;
    margin-left: 15px;
  }
}
